numpy==1.19.5
pandas
geopandas
rtree
folium
networkx
matplotlib
mapsplotlib
seaborn
GPy
bs4
tqdm
openpyxl
osmnx
torch
pytorch_lightning
torch-scatter -f https://data.pyg.org/whl/torch-1.9.0+cpu.html
torch-sparse -f https://data.pyg.org/whl/torch-1.9.0+cpu.html
torch-geometric
torch-geometric-temporal==0.40
tensorflow
keras
shap