numpy
pandas
geopandas
folium
networkx
matplotlib
mapsplotlib
GPy
tqdm
openpyxl
torch
pytorch_lightning
torch-scatter -f https://data.pyg.org/whl/torch-1.9.0+cpu.html
torch-sparse -f https://data.pyg.org/whl/torch-1.9.0+cpu.html
torch-geometric
torch-geometric-temporal==0.40